* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.screen__all {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  background-color: #4738bf;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-designer {
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 7%;
  z-index: 2;
}


.squar-designer {
  width: 50px;
  height: 300px;
  background-color: #FFF;
  position: absolute;
  top: -20px;
  left: 0;
  z-index: 1;
}
.squarSecond-designer {
  width: 200px;
  height: 50px;
  background-color: #000000;
  position: absolute;
  top: 150px;
  right: 0;
}

.circle-designer {
  width: 600px;
  height: 600px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  position: absolute;
  bottom: -200px;
  right: -250px;
}

.triangle-designer {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid rgb(0, 0, 0);
  position: absolute;
  left: 0;
  bottom: 10%;
}

.title {
  font-size: 7rem;
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 14%;
}

.container__cards {
  width: 620px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25%;
  padding-bottom: 50px;
}
