
  <div class="comp-wf col-md-6 form-group">
    <label for="curseInput">Indentificação do Curso</label>
    <input type="text" class="form-control" placeholder="Nome do curso" id="courseInput" #courseInput>
  </div>
  <div class="comp-wf col-md-6 form-group mb-2">
    <label for="workload">Carga Horaria</label>
    <input type="text" class="form-control" placeholder="Adicione a carga horaria" id="workload" #workloadInput>
  </div>
  <button
    (click)="AddCourse(courseInput.value, workloadInput.value)"
    class="btn-addCourse btn btn-primary"
  >
  Cadastrar
  </button>


